<h1>Index View</h1>
<p>Get to building things!</p>
<h1> Check Out Our Roster of Chefs</h1>

<span>
<h1><a href="/">Chefs</a>  | <a href="/dishes">Dishes </a></h1></span>
<br>
<br>


@model List<Chef>;

    @foreach (var person in Model){
      <p>@person.FirstName @person.LastName @person.DateOfBirth @person.CreatedDishes.Count</p>
    }


<h3><a href="/NewChef">Add a Chef</a></h3>

